<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serralheria Brum</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/image/IMG-20260531-WA0087.jpg">
</head>
<body>    
    
    <div id = "principal">
    
        <header id = "cabecalho1">

            <div class="logo-area">
                <img id="Logo" src="/static/image/IMG-20260531-WA0087.jpg">
                <h1>Serralheria Brum</h1>
            </div>
        
        </header>

        <main>

            <section id = "Conteudo1">
            
                <div id = "slider">  
                        <img class = "image" src="/static/image/1000327463.jpg" alt="abertura1">
                </div>  

            </section>

            

            <section id="ServiCars">

                    <div id="ServicoB">
                        <h1 id ="Serviços" >Nossos serviços</h1>
                    </div>
                    
                    <div id ="Cards">

                        <div class="ServicosP">
                            <img src="/static/image/1000327462.jpg" alt="portaoIMg">
                            <h3>Portões</h3>
                        </div>

                        <div class="ServicosP">
                            <img src="/static/image/IMG-20260531-WA0138.jpg" alt="gradeIMG">
                            <h3>Grades</h3>

                        </div>

                        <div class="ServicosP">
                            <img src="/static/image/IMG-20260508-WA0198.jpg" alt="corrimaoIMG">
                            <h3>Corrimãos</h3>
                        </div>

                        <div class="ServicosP">
                            
                            <img src="/static/image/IMG-20260531-WA0128.jpg" alt="coberturaIMG">
                            <h3>Coberturas</h3>
                        </div>

                    </div>

            </section>
                
            <section>
                    
                    <div id="Conteudo2">
                    
                        <div id="ComprometimentoTexto">

                            <h1>Nosso comprometimento</h1>
                        </div>


                    </div>

                    <div id="BackServico">

                        <div>
                            <img id="ProducaoIMG" src="/static/image/1000327473.jpg" alt="producao">
                        </div>

                        <div id="Apservicos">
                            <p >Produzimos portões, grades, corrimãos, coberturas, estruturas metálicas e projetos sob medida, sempre priorizando segurança, durabilidade e a satisfação dos clientes. Unimos experiência, comprometimento e precisão para entregar serviços fortes como o metal que trabalhamos.</p>
                        </div>
                
                    </div>
                
            </section>
            
            <div>

                <section id="Conteudo3">

                    <div id="Sobre">

                        <h1 id= "SobreTexto">Sobre nós</h1>

                    </div>
                    
                    <div id="SobreBack">

                        <p id="SobreAp">
                            Há 15 anos, a Serralheria Brum transforma metal em confiança, resistência e qualidade.
                            São 15 anos de dedicação, trabalho sério e compromisso com cada cliente, entregando estruturas metálicas, portões, grades, corrimãos e projetos feitos com excelência e precisão.
                            Agradecemos a todos que fizeram parte dessa trajetória e confiaram no nosso trabalho ao longo desses anos. Seguimos firmes, evoluindo e construindo cada projeto com a mesma força e determinação desde o primeiro dia.
                            15 anos de história. 15 anos de metal, qualidade e confiança.
                        </p>

                        <div>
                            <img id= "SobreIMG" src="/static/image/WhatsApp Image 2026-06-06 at 10.01.21.jpeg" alt="SobreIMG">
                        </div>

                    </div>
                </section>

            </div>


        </main>

        <div>

            <footer id="Final">
            
             <h2>Entre em contato com a gente</h2>

                <ul id = "Contatos">
                    <li>Telefone: 51999246377</li>
                    <li>Telefone: 51998824384</li>
                    <li> © 2026 Serralheria Brum</li>
                </ul>
            
            </footer>
        
        </div>

    </div>

    <script>src="/static/script.js"</script>

</body>
</html>